.btn-danger {
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 6px;
    color: #cbd3e0;
}

.edit-btn{
background-color: rgb(68, 0, 255);
border-radius: 50px;
}

.go-btn{
    background-color: rgb(13, 153, 32);
    border-color: darkslategray;
    border-radius: 50px;
    }

.btnstyle{
    background-color: rgb(192, 189, 189);
    border-radius: 50px;
    margin-top: 10px;
}


