body {
    background-color: lightblue;
  }


.pinbtn{
    background-color: rgb(9, 145, 31);
    border-radius: 55px;
    margin: 10px;
}


.waypointstyle{
    background-color: #5bc0de; 
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 2px 2px 6px #000000;
}

.textfield{
    width:100%;
}

form {
    padding: 20px;
    width: 50%;
}

@media screen and (max-width: 700px) {
    form {
     width: 90%;
     margin-left: -40px;
    }
  }

input {
    margin: 10px;
}

textarea {
    height: 100px;
    margin-left: 10px;
}