body {
    background-color: lightblue;
  }


.btn-danger {
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 6px;
    color: #cbd3e0;
}

.edit-btn{
background-color: rgb(68, 0, 255);
}

.go-btn{
    background-color: rgb(13, 153, 32);
    border-color: darkslategray;
    }

.waypointstyle{
    background-color: #5bc0de;
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}